.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.btn-info {
  border-color: rgb(82, 0, 82);
  border-radius: 5px;
}

.btn-info:hover {
  background-color: rgb(82, 0, 82);
  color: white;
}
